/******** Navbar ********/
#logo{
    display: none;
    margin: 0;
}
.navImg{
    display: none;
}
.nav-right{
    float: none;
}
.navbar>.nav-right>a{
    float: none;
    display: block;
    width: 100%;
}
/******** Contact Us Form ********/
.col-25, .col-75, input, textarea{
    width: 100%;
    margin-top: 0;
}
form{
    width: 90%;
}
.contactus{
    width: 80%;
}
.buttonDiv{
    padding: 0;
}